<mat-drawer-container class="example-container">
  <mat-drawer class="example-drawer" mode="side" opened="true">
    <app-sidebar></app-sidebar>
  </mat-drawer>

  <mat-drawer-content>
    <mat-card *ngIf="note$ | async as note">
      <mat-toolbar>
        <mat-toolbar-row>
            <span>{{note.title}}</span>
            <span class="example-spacer"></span>
            <button mat-raised-button [routerLink]="['/notes/edit']" fragment="{{note.id}}">Edit</button>
          </mat-toolbar-row>
      </mat-toolbar>

      <markdown class="note-content" [data]="note.content"></markdown>

      </mat-card>
  </mat-drawer-content>
</mat-drawer-container>
