<div class="container">
  <div class="row">
    <div class="col-sm">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-sm" *ngIf="note$ | async as note">
      <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header">{{note.title}}<a class="btn" [routerLink]="['/notes/edit']" fragment="{{note.id}}">Edit</a></div>
        <div class="card-body">
          <markdown class="note-content" [data]="note.content"></markdown>
        </div>
      </div>
    </div>
  </div>
</div>
