<div class="container">
  <div class="row">
    <div class="col-sm">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-sm" *ngIf="note$ | async as model">
      <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header">{{model.title}}</div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <input #title class="form-control" placeholder="Title for this note" [value]="model.title">
            </div>
            <div class="form-group">
              <textarea #content class="form-control" #content placeholder="Note in markdown format" [value]="model.content"></textarea>
            </div>
            <button class="btn btn-primary" (click)="save(title.value, content.value)">Save</button>
            <button class="btn" (click)="cancel()">Cancel</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
